<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <style>
    label {
      display:inline-block;
      width:5em;
    }
    input~label {
      width:auto;
      margin:0 1em 0 0;
    }
    input[type=range] {
      width:300px;
      vertical-align:middle;
    }
    textarea {
      vertical-align:top;
    }
  </style>
</head>
<body>
<% include ../menu %>
<h3><%= title %></h3>
<% include ../message %>
<form method="post" action="">
  <p>
    <label for="name">任务名称</label>
    <input id="name" name="name" type="text" placeholder="任务简要描述"/>
  </p>
  <p>
    <label for="jira">jira地址</label>
    <input id="jira" name="jira" type="text" placeholder="jira任务地址"/>
  </p>
  <p>
    <label>任务状态</label>
    <input id="s_pause" name="stat" value="0" type="radio"/><label for="s_pause">已暂停</label>
    <input id="s_processing" name="stat" value="1" type="radio" checked/><label for="s_processing">进行中</label>
    <input id="s_complete" name="stat" value="2" type="radio"/><label for="s_complete">已完成</label>
  </p>
  <p>
    <label for="progress">完成进度</label><input id="progress" name="progress" type="range" value="0" min="0" max="100" step="1"/>
  </p>
  <p>
    <label for="remark">工作日志</label><textarea name="remark" id="remark" cols="30" rows="10" placeholder="工作内容"></textarea>
  </p>
  <p>
    <button type="submit">添加</button>
  </p>
</form>
</body>
</html>