<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<% include menu %>
<h3>邮件发送成功</h3>
<p>请登录注册邮箱修改密码</p>
</body>
</html>