<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
  <% include menu %>
  <div class="container">
    <div class="row">
      <div class="panel panel-default col-md-6 col-md-offset-3">
        <h3>欢迎访问 WorkLogs</h3>
        <a href="/tasks">任务列表</a> | <a href="/sendLog">发送日志</a>
      </div>
    </div>
  </div>
  </body>
</html>
