<<<<<<< HEAD
<nav>
  <% if (locals.user) { %>
  <span><%= user.name %></span>
  <a href="/logout">退出</a>
  <% } else { %>
  <a href="/login">登录</a>
  <a href="/register">注册</a>
  <% } %>
=======
<nav class="navbar navbar-default row">
    <h1>WorkLogs</h1>
>>>>>>> origin/master
</nav>