<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<% include menu %>
<h3>注册成功</h3>
<p>欢迎你，<%= user.name %></p>
<p>请<a href="/">登录</a></p>
</body>
</html>