<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<% include menu %>
<h3>密码重置成功</h3>
<p>请<a href="/login">登录</a></p>
</body>
</html>