body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background:#EEE;
  text-align:right;
  padding:0 1em;
  line-height:2em;
}

.error {
  color:#F00;
}